/* body {
    background: black !important;
} */

.overlayjpext {
    background:rgba(0,0,0,0.9);
    display:none;
    width:100%; height:100%;
    position:absolute; top:0; left:0; z-index:99998;
}

#tagetText {
    position: relative;
    z-index: 99999; 
}

/* Popup container - can be anything you want */
.targetText {
    pointer-events: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    /*background-color:#ff66ff;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 99999;
}

/* The actual popup */
.targetText .popuptext {
    pointer-events: none;
    visibility: visible;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 99999;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.targetText .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.targetText .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.yesButton {
    -webkit-transition-duration:0.4s;
    transition-duration: 0.4s;
    pointer-events: auto;
    background-color: #5cb85c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.yesButton:hover {
    cursor:pointer;
    background-color: white;
    color: green;
}

.noButton:hover {
    cursor:pointer;
    background-color: white;
    color: red;
}

.noButton {
    -webkit-transition-duration:0.4s;
    transition-duration: 0.4s;
    pointer-events: auto;
    background-color: #d9534f; /* Red */
    border: none;
    color: white; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}